<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width: 50%;
        }
    </style>
</head>
<body>
    <p>I love my cat.</p>
    
    <ul>
      <li>Buy cat food</li>
      <li>Exercise</li>
      <li>Cheer up friend</li>
    </ul>
    
    <img src="../images/IMG_1250.JPG" alt="I love my cat" title="I love my cat">

    <p>The end!</p>
</body>
</html>