<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float</title>
    <style>
        section {
            display: block;
            border: 1px solid #c0c0c0;
            padding: 5px;
            width: 33%;
        }
        section.kiri {
            float: left;
        }
        section.tengah {
            float: left;
        }
        section.kanan {
            float: left;
        }
        footer {
            clear: both;
        }
    </style>
</head>
<body>
    <section class="kiri">
        <h2>Sub Nav Kiri</h2>
    </section>
    <section class="tengah">
        <h2>Main Content</h2>
        <h1>Judul artikel</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    <section class="kanan">
        <h2>sub nav kanan</h2>
    </section>
    <footer>
        <h2>ini footer</h2>
    </footer>
</body>
</html>